# DSDBAL ASSIGNMENT NO. 1_2

In [164]:
import pandas  as pd 
import numpy as np

In [165]:
df=pd.read_csv('nba.csv')

In [166]:
df.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

In [167]:
df.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

### Handling missing values

In [168]:
df.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

IMPUTING MISSING CATEGORICAL VALUES WITH MODE

In [169]:
cat_col=df.select_dtypes(include=['object','category','float']).columns

for col in cat_col:
    mode_val=df[col].mode()[0]
    df[col]=df[col].fillna(mode_val)

In [170]:
df.isnull().sum()

Name        0
Team        0
Number      0
Position    0
Age         0
Height      0
Weight      0
College     0
Salary      0
dtype: int64

### 1. LABEL ENCODING

In [171]:
#  PG , C ,SF ,SG,PF are some of the various positions
#  performing label encoding on these positions

In [172]:
from sklearn.preprocessing import LabelEncoder

In [173]:
label_encoder=LabelEncoder() #init

In [174]:
#before 
df['Position'].head()

0    PG
1    SF
2    SG
3    SG
4    PF
Name: Position, dtype: object

In [175]:
df['Position']=label_encoder.fit_transform(df['Position'])

In [176]:
#AFTER LABEL ENCODING
df['Position'].head()

0    2
1    3
2    4
3    4
4    1
Name: Position, dtype: int32

PG=2
SF=3
SG=4 and so on

In [177]:
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,2,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,3,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,4,27.0,6-5,205.0,Boston University,947276.0
3,R.J. Hunter,Boston Celtics,28.0,4,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,1,29.0,6-10,231.0,Kentucky,5000000.0

### 2. ONE-HOT ENCODING

In [178]:
from sklearn.preprocessing import OneHotEncoder

In [179]:
df.shape

(458, 9)

In [180]:
df_enc=pd.get_dummies(df,columns=['Team','College'])

In [181]:
df_enc.head()

,Name,Number,Position,Age,Height,Weight,Salary,Team_Atlanta Hawks,Team_Boston Celtics,Team_Brooklyn Nets,...,College_Washington State,College_Weber State,College_Westchester CC,College_Western Carolina,College_Western Kentucky,College_Western Michigan,College_Wichita State,College_Wisconsin,College_Wyoming,College_Xavier
0,Avery Bradley,0.0,2,25.0,6-2,180.0,7730337.0,False,True,False,...,False,False,False,False,False,False,False,False,False,False
1,Jae Crowder,99.0,3,25.0,6-6,235.0,6796117.0,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2,John Holland,30.0,4,27.0,6-5,205.0,947276.0,False,True,False,...,False,False,False,False,False,False,False,False,False,False
3,R.J. Hunter,28.0,4,22.0,6-5,185.0,1148640.0,False,True,False,...,False,False,False,False,False,False,False,False,False,False
4,Jonas Jerebko,8.0,1,29.0,6-10,231.0,5000000.0,False,True,False,...,False,False,False,False,False,False,False,False,False,False

In [182]:
df.shape

(458, 9)

Original Dataset has retained the 9 attributes

In [183]:
df_enc.shape

(458, 155)

However the dataset encoded with One hot enocder 
on columns like team and College has resulted in 155 attributes

### 3.DUMMY CODING

In [184]:
df1=pd.read_csv('nba.csv')

In [185]:
df_dummies=pd.get_dummies(df1,columns=['Position'],drop_first='False')

In [186]:
df_dummies.head()

,Name,Team,Number,Age,Height,Weight,College,Salary,Position_PF,Position_PG,Position_SF,Position_SG
0,Avery Bradley,Boston Celtics,0.0,25.0,6-2,180.0,Texas,7730337.0,False,True,False,False
1,Jae Crowder,Boston Celtics,99.0,25.0,6-6,235.0,Marquette,6796117.0,False,False,True,False
2,John Holland,Boston Celtics,30.0,27.0,6-5,205.0,Boston University,NaN,False,False,False,True
3,R.J. Hunter,Boston Celtics,28.0,22.0,6-5,185.0,Georgia State,1148640.0,False,False,False,True
4,Jonas Jerebko,Boston Celtics,8.0,29.0,6-10,231.0,NaN,5000000.0,True,False,False,False

In [187]:
df_dummies.shape

(458, 12)